@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-bg-light: #ffffff;
  --color-text-light: #0f172a;

  --color-bg-dark: #020617;
  --color-text-dark: #e5e7eb;
}

html {
  background-color: var(--color-bg-light);
  color: var(--color-text-light);
}

/* Dark mode */
html.dark {
  background-color: var(--color-bg-dark);
  color: var(--color-text-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
